<mat-card class="form-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" type="email" [ngModel]="valObj.email" name="email" minlength="3" #email="ngModel" required email />
        <mat-error *ngIf="email.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="email.errors?.email">Please enter valid email</mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [ngModel]="valObj.password" name="password"  #password="ngModel" required/>
        <mat-error *ngIf="password.errors?.required">This field is required</mat-error>
      </mat-form-field>
      <!-- Login Button -->
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

    <div>
      <p>Email Errors - {{email.errors | json}}</p>
      <p>Password Errors - {{password.errors | json}}</p>
      <p>Login Form - {{loginForm.value | json}}</p>
    </div>
  </mat-card-content>
</mat-card>